.rmRow {
	margin: auto 20px 20px auto;
	width: 20px;
	height: 20px;
	background-image: url("chrome-extension://ioaifmbefbjgbdgmipbbipchkeolkjle/img/remove.png");
	background-size: 20px 20px;
	cursor: pointer;
}

.addResults {
	display: block;
	
	margin: 1em auto;
    border: 1px solid #6c6e73;
    border-color: #adb1b8 #a2a6ac #8d9096;
	border-radius: 3px;
	padding: 8px 12px 7px 13px;
	
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
	
    background: #eff1f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
	color: black;
}

.addResults:hover {
	background: #e0e3e9;
    background: -webkit-linear-gradient(top,#e7eaf0,#d9dce1);
    background: linear-gradient(to bottom,#e7eaf0,#d9dce1);
    border-color: #a2a6ac #979aa1 #82858a;
	text-decoration: none;
	color: black;
}